body {
    background-color: forestgreen;
}
h1 {
    color: orange;
}
p {color: whitesmoke;
}
h2 {
    color: orange;
}
h3 {
    color: orange;
}
div {
    text-align: center;
}
body {
    background-image: url("C:\Users\ceili\OneDrive\Pictures\Saved Pictures\ERiRS3XXkAAkvvf.jpg");
}