body {
    background-color: forestgreen;
}
h1 {
    color: orange;
}
p {color: whitesmoke;
}
h2 {
    color: orange;
}
h3 {
    color: orange;
}
div {
    text-align: center;
}
img {
    border-style: dotted;
}
p {
    font-style: italic;
}
img {
    border-radius: 28px;
}
img {
    border-color: blueviolet;
}
.custom {
    cursor:url("./images/—Pngtree—hand tap touch screen gesture_6320233.png"), auto ;
    cursor: url(target.png) 15 15, move;
}